@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: white;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1450px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #0dcaf0;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #0dcaf0;
}
.footer {
  padding: 20px;
}
.footer h5 {
  text-align: center;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.home {
  padding-left: 100px;
  padding-top: 20px;
}
.about {
  padding-top: 20px;
  padding-bottom: 500px;
  text-align: center
}
.not-found {
  text-align: center;
  padding-top: 20px;
}
.not-found h2 {
  padding-bottom: 40px
}
.not-found .Link {
  color:#0dcaf0;
}
.single {
  padding-bottom: 20px;
  max-width: 1400px;
  display: flex;
  align-items: center;
  transition: all ease 0.2s;
}
.single:hover {
  box-shadow: 1px 2px rgba(50,50,50,0.05);
  transform: scale(1.02);
  transition: all ease 0.2s;
}
.thumbnail {
  max-width: 300px;
  max-height: 200px;
  overflow: hidden;
  border-radius: 5px;
}
img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.info {
  margin: 10px;
  max-width: 50%;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
